.contact{

    margin: 80px 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* gap:80px; */

    color: white;
}

.contact h1{

    margin-top: 80px;

    font-size: 40px;
    font-weight: 500;

    background-image: linear-gradient( to right, #f00e95, #dd00a7, #c100bc, #9400d4, #3a12eb);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact hr{

    width: 100px;
    height: 4px;

    border: none;
    background: white;

    margin: 10px;
}

.contact p{
    margin-top: 30px;

    font-size: 18px;
    line-height: 40px;
}



.contact-form{

    width: 80%;

    padding: 40px;

    display: flex;
    flex-direction: column;

    gap:20px;

    font-size: 18px;

    border-radius: 8px;

    border: 1px solid white;

    margin-top: 50px;
    margin-bottom: 50px;
}
.contact-form-item{

    background: black;
    color: white; 

    display: flex;
    align-items: center;

    gap:20px
}
.contact-form label{

    margin-top: 20px;

    font-weight: 600;
}

.contact-form-item input,.contact-form-item textarea{

    width: 90%;

    padding: 12px;

    border: none;
    outline: none;

    border-bottom: 1px solid white;

    background: black;

    color: white;

    font-size: 18px;

   

}


input:-webkit-autofill {

    transition: background-color 600000s 0s, color 600000s 0s;
}


.textarea{

    flex-direction: column;
    align-items: start;

}

.textarea textarea{
    /* background: #e6e3e3; */
    width: 100%;

    border: 1px solid white;
    border-radius: 8px;

    color: white;

}


.contact-form textarea{

    min-height: 200px;
}

.contact-form button{

    width: 30%;

    margin: 20px auto;
    margin-bottom: 0;

    padding: 15px;

    background: white;
    color: black;

    border-radius: 8px;

    border: none;

    font-size: 20px;

    cursor: pointer;

    transition: 0.3s;
}

.contact-form button:hover{

    transform: scale(1.2);
}

@media (max-width:768px){

    .contact-form{

        width: 100%;

        padding: 20px;
    }

    .contact-form-item{

        flex-direction: column;
        align-items: start;
    }

    .contact-form-item input{

        border:1px solid white; ;
    }


}