.navbar{

    width: 100%;

    padding:30px 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: black;

    color:white;

    font-size: 20px;

     position: fixed;

    top:0;

    
}

.navbar-logo{

   font-size: 25px;
   font-weight: 800;

   background-image: linear-gradient( to right, #f00e95, #dd00a7, #c100bc, #9400d4, #3a12eb);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;


}

.logo{

    text-decoration: none;
}


.navbar-menu{

    display: flex;
    align-items: center;

    gap:60px;

    list-style: none;

    font-size: 18px;
    /* font-weight: 500; */
}
.navbar-menu li{

    cursor: pointer;

    transition: .3s;
}

/* .navbar-menu li:hover{

    transform: scale(1.2);

    color: #c100bc;
} */

.navbar-connect{

    padding: 20px 40px;
    border-radius: 50px;

    /* font-size: 22px; */

    cursor: pointer;
}
.active{

    /* color:#dd00a7; */

    /* border-bottom: 2px solid white; */

    text-decoration: underline;
    text-decoration-color: #c100bc;

    text-underline-offset: 10px;

    padding-bottom: 3px;
}

.ancchor{

    text-decoration: none;
    color: white;
}

.menu-icon{

    font-size: 30px;

    display: none;
}

.side-menu{

    width: 100%;

    flex-direction: column;
   justify-items: end;

    position: absolute;

    right:100px;
    top:90px;

    list-style: none;

    background: rgba(0, 0, 0, 0.8);
    
    display: none;


}

.side-menu li{

    width: 100%;

    padding: 15px;

    color: white;

    text-align: right;


    /* background: white; */

    margin-bottom: 15px;

    font-size: 18px;
}



.side-menu .active{

    text-decoration: none;

    color:#dd00a7;

}


@media (max-width:992px){

    .navbar-menu{

        gap:30px
    }


}

@media (max-width:768px){

    .navbar-menu{

       display: none;
    }
.menu-icon{

    display: block;
}

.side-menu{

    display: block;
}

}

